<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d [%t] %c lid=%X{lid} app=storeviews-lambda version=${version} traceId=%X{traceId}: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <asyncLogger name="org.apache.log4j.xml" level="info"/>
        <asyncLogger name="com.nike" level="debug"/>

        <asyncRoot level="debug">
            <AppenderRef ref="STDOUT"/>
        </asyncRoot>
    </Loggers>
</Configuration>